@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';



@theme {
    --color-maroon: #490B22;
    --color-custom-pink: #E33183;
    --color-custom-red: #490b22;
    --font-sans: 'Poppins', 'sans-serif';
  }

  * {
    font-family: 'Poppins', sans-serif;
  }
